.add .run-btn {
    font-size: 1.9rem;
    padding: 5px 35px;
    margin-top: 26px;
    background-color: white;
    color: rgb(31, 26, 26);
    border-radius: 9px
}
.add .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    border-radius: 39px
}

.add label {
    font-size: 1.9rem;
    margin-right: 15px;
    flex: 1;
    color: black;
}

.n-input {
    width: 48px
}

.add {
    padding: 60px 15px;
    
    background-color: #9e9e9e;
}

.add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    max-width: 500px;
    max-height: 200px;
}

.add input {
    font-size: 1.4rem
}

