.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    height: 100vh;
    flex-grow: 1;
    max-height: 90px;
    width: 100%;
}

.card .row__card--title {
    font-size: 1.1rem;
    padding: 6px 12px 3px 12px;
   text-align: center;
   max-width: 150px;
   color:rgb(224, 224, 224)
}

.card .content {
    font-size: 1.7rem;
    display: flex;
    flex-grow: 3;
    background-color: #06132c;
    color: rgb(255, 255, 255);
    justify-content: flex-end;
    padding-right: 9px;
    align-items: center;
}