.card {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    height: 100vh;
    flex-grow: 1;
    max-height: 90px;
    width: 100%;
}

.card .row__card--title {
    font-size: 1.2rem;
    padding: 5px 0px;
   text-align: end;
   margin-right: 20px;
}

.card .content {
    font-size: 1.7rem;
    display: flex;
    flex-grow: 3;
    background-color: #06132c;
    color: rgb(255, 255, 255);
    justify-content: flex-end;
    padding-right: 9px;
    align-items: center;
}