.row__copyright {
    background-color: rgb(15, 15, 15);
    color: rgba(255, 255, 255, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    width: 98%;
}