.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    background-color: rgb(15, 15, 15);
    font-size: 1.3rem;
    height: 100%;
    position: relative;
}

.menu .row__menu--logo {
    color: rgba(255, 255, 255, 0.247);
    font-size: 6rem;
    width: 100%;
    padding-top: 10vw;
    padding-bottom: 3vw;
}

.menu .row__menu--title {
    color: rgba(231, 231, 231, 0.877);
    background-color: rgba(0, 0, 0, 0.84);
    font-size: 6rem;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .row__menu--title {
    position: absolute;
    top: 9vw;
    padding-top: 63px;
    color: rgba(231, 231, 231, 0.877);
    background-color: rgba(0, 0, 0, 0.84);
    font-size: 6rem;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu .row__menu--title svg {
    margin-bottom: 0px;
    width: 160px;
    margin: 13px 0px 15px 0px;
}

.menu .menu__title {
    margin-top: 6px;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.9);
    padding-left: 0.6rem;
    text-shadow: -0.9px -0.3px 63px rgba(255, 255, 255, 0.594), 0px 0px 123px rgba(255, 255, 255, 0.473),
        -0.3px 0.1px 0.39px rgb(177, 177, 177), -0.3px 0.3px 0px rgb(4, 5, 14),
        0.3px -0.3px 0px rgba(255, 255, 255, 0.192);
    width: 108%;
    margin-bottom: 20px;
    height: 3px;
    line-height: 0.1rem;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.274);
}

.menu .menu__title--randomizer {
    margin-top: 6px;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.9);
    padding-left: 0.6rem;
    text-shadow: -0.9px -0.3px 63px rgba(255, 255, 255, 0.594), 0px 0px 123px rgba(255, 255, 255, 0.473),
        -0.3px 0.1px 0.39px rgb(177, 177, 177), -0.3px 0.3px 0px rgb(4, 5, 14),
        0.3px -0.3px 0px rgba(255, 255, 255, 0.192);
    background-color: rgba(0, 0, 0, 0.893);
    width: 108%;
    margin-bottom: 36px;
    height: 3px;
    line-height: 0.1rem;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.274);
    border-bottom: 1px solid rgba(255, 255, 255, 0.274);
}

.menu .menu__items {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu .menu__items li {
    padding: 14px 0px;
    list-style: none;
    text-align: right;
}

.menu .menu__items a {
    margin: 0px;
    font-size: 1.4rem;
    margin-right: 18px;
    text-decoration: none;
    line-height: 0.8rem;
    color: rgba(116, 201, 244, 0.927);
    cursor: pointer;
}