.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    background-color: rgb(22, 22, 22);
    font-size: 1.3rem;
    height: 100%;
}

.menu .row__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    color:rgb(209, 209, 209)
    
}

.menu svg {
    width: 180px;
    margin: 13px 0px 15px 0px;
}

.menu .menu__title {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 6px;
}

.menu .menu__items {
    padding: 0;
    width: 100%;

}

.menu .menu__items li  {
    padding: 14px 0px;
    list-style: none;
    text-align: right;
}
.menu .menu__items a {
    margin: 0px;
    font-size: 1.4rem;
    margin-right: 18px;
    text-decoration: none;
    line-height: 0.8rem;
    color: rgba(116, 201, 244, 0.927);
    cursor: pointer;
}