.template__main .generate__template {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    
}

.template__main .generate__template .btn__generate {
    font-size: 1.1rem;
    background-color: #180213b5;
    color: rgb(228, 228, 228);
}

.template__main .generate__template .btn__generate:active {
    background-color: #180213c7;
}

.template__main .generate__template .row__number-of-actions {
    margin-bottom: 6px;
    gap: 10px;
}


.template__main .generate__template .result__row {
    margin: 6px 0px;
    color: rgb(18, 104, 18);
}

.template__main .row__save label {
    flex-grow: 1;
    font-size: 1.4rem;
    text-align: end;
    margin: 0;
}