.template__main {
    width: 350px;
}

.template__main .config__template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.template__main .config__template .modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 13, 13);
    width: 400px;
    height: auto;
    gap: 3px;
    border-radius: 15px;
    margin-bottom: 9%;
    display: none;
}
.template__main .config__template .modal .n-input {
    background-color: grey;
    width: 20px;
    text-align: center;
}
.template__main .config__template .modal input {
    outline: none;
    height: 30px;
    width: 200px;
}

.template__main .config__template .modal .row__modal--inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    
}

.template__main .config__template .modal .row__modal--inputs label {
    color: rgb(218, 218, 218);  
}

.template__main .config__template .modal .row__modal--title {
    padding-left: 20px;
     border-radius: 15px;
    background-color: rgb(150, 145, 141);
    display: flex;
    justify-content: space-between;
}

.template__main .config__template .modal .row__modal--title .btn__close {
    margin: 10px;
    margin-right: 15px;
    background-color: #5d0505;
    border-radius: 30px;
    font-size: 0.8rem;
    padding: 6px 9px;
    color: #e2e2e2;
    text-align: center;
    cursor: pointer;
    line-height: 10px;
}

.template__main .config__template .modal .row__modal--title h2 {
    margin-bottom: 9px;
}

.template__main .config__template .modal .row__btn {
    margin-bottom: 20px;
    padding-right: 20px;
    width: 95%
}
.template__main .config__template .table__types {
    text-align: center;
    background-color: rgb(86, 19, 19);
    color: rgba(243, 243, 243, 0.71);
    font-size: 1.3rem;
}

.template__main .config__template .table__types thead {
    padding: 0px 3px;
    background-color: rgb(20, 3, 21);
    color: rgba(243, 243, 243, 0.71);
}

.template__main .config__template .table__types .td__title {
    width: 600px;
}

.template__main .config__template .table__types td {
    padding: 5px 10px;
    vertical-align: middle;
}

.template__main .config__template .table__types .td__operations {
    display: flex;
    padding: 20px;
    gap: 3px;

}

.template__main .config__template .table__types .td__operations button {
    margin-top: 6px;
    border-radius: 30px;
}

.template__main .config__template .table__types .td__operations p {
    margin: 0px;
    font-size: 1rem;
}

.template__main .config__template .table__types .status--active {
    color: green;
    cursor: pointer;
}

.template__main .config__template .table__types .status--inactive {
    color: rgb(140, 1, 1);
    background-color: rgb(18, 18, 18);
    cursor: pointer;
}