.template__main {
    width: 350px;
}

.template__main .config__template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.template__main .config__template .row__table-desc {
    text-align: center;
    margin-bottom: 12px;
}

.template__main .config__template .row__table-desc p {
    text-align: center;
    margin: 2px
}
    
.template__main .config__template .table__types {
    text-align: center;
    background-color: rgb(86, 19, 19);
    color: rgba(243, 243, 243, 0.71);
    font-size: 1.3rem;
}

.template__main .config__template .table__types thead {
    padding: 0px 3px;
    background-color: rgb(20, 3, 21);
    color: rgba(243, 243, 243, 0.71);
}

.template__main .config__template .table__types .td__title {
    width: 600px;
}

.template__main .config__template .table__types td {
    padding: 5px 10px;
    vertical-align: middle;
}

.template__main .config__template .table__types .td__operations {
    display: flex;
    padding: 20px;
    gap: 3px;

}

.template__main .config__template .table__types .td__operations button {
    margin-top: 6px;
    border-radius: 30px;
}

.template__main .config__template .table__types .td__operations p {
    margin: 0px;
    font-size: 1rem;
}

.template__main .config__template .table__types .status--active {
    color: green;
    cursor: pointer;
    padding: 0 9px;
    background-color: rgb(18, 18, 18);
}

.template__main .config__template .table__types .status--inactive {
    color: rgb(140, 1, 1);
    background-color: rgb(18, 18, 18);
    cursor: pointer;
    padding: 0 9px;
}